@page
@model Frontend.Pages.CreateDeporModel
@{
    ViewData["Title"]= "CreateDepor";
}
<h1>Crear Deportista</h1>

<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                    <div class="form-group">
                        <label asp-for="Deportista.Documento" class="control-label"></label>
                        <input asp-for="Deportista.Documento" class="form-control"/>
                        <label asp-for="Deportista.Nombre" class="control-label"></label>
                        <input asp-for="Deportista.Nombre" class="form-control"/>
                        <label asp-for="Deportista.Apellidos" class="control-label">Apellidos</label>
                        <input asp-for="Deportista.Apellidos" class="form-control"/>
                        <label asp-for="Deportista.Genero" class="control-label"></label>
                        <input asp-for="Deportista.Genero" class="form-control"/>
                        <label asp-for="Deportista.Rh" class="control-label"></label>
                        <input asp-for="Deportista.Rh" class="form-control"/>
                        <label asp-for="Deportista.EPS" class="control-label"></label>
                        <input asp-for="Deportista.EPS" class="form-control"/>
                        <label asp-for="Deportista.FechaNacimiento" class="control-label"></label>
                        <input asp-for="Deportista.FechaNacimiento" class="form-control"/>
                        <label asp-for="Deportista.Disciplina" class="control-label"></label>
                        <input asp-for="Deportista.Disciplina" class="form-control"/>
                        <label asp-for="Deportista.Direccion" class="control-label"></label>
                        <input asp-for="Deportista.Direccion" class="form-control"/>
                        <label asp-for="Deportista.NumeroEmergencia" class="control-label"></label>
                        <input asp-for="Deportista.NumeroEmergencia" class="form-control"/>
                        <label asp-for="Deportista.EquipoId" class="control-label"></label>
                        <input asp-for="Deportista.EquipoId" class="form-control"/>
                    </div>                    
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary"/>
                    </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="IndexDepor">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

