@page
@model Frontend.Pages.DetailsDeporModel
@{
    ViewData["Title"]="Detalles";
}

<h1>Detalles Deportista</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                
                <input type="hidden" asp-for="Deportista.Id" >
                <div class="form-group">
                    <label asp-for="Deportista.Id" class="control-label"></label>
                    <input asp-for="Deportista.Id" class="form-control" readonly/>                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.Nombre" class="control-label"></label>
                    <input asp-for="Deportista.Nombre" class="form-control" readonly/>                    
                </div>                   
                
            </form>
        </div>
    </div>
    <div>
        <a asp-page="IndexDepor">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
