@page
@model Frontend.Pages.ArbEditModel
@{
    ViewData["Title"]="ArbEdit";
}

<h1>Editar Arbitro</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Arbitro.Id" >

                <div class="form-group">
                    <label asp-for="Arbitro.Identificacion" class="control-label"></label>
                    <input asp-for="Arbitro.Identificacion" class="form-control"/>
                    <span asp-validation-for="Arbitro.Identificacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Arbitro.Nombre" class="control-label"></label>
                    <input asp-for="Arbitro.Nombre" class="form-control"/>
                    <span asp-validation-for="Arbitro.Nombre" class="text-danger"></span>
                </div>    
                <div class="form-group">
                    <label asp-for="Arbitro.Apellidos" class="control-label"></label>
                    <input asp-for="Arbitro.Apellidos" class="form-control"/>
                    <span asp-validation-for="Arbitro.Apellidos" class="text-danger"></span>
                </div>            
                <div class="form-group">
                    <label asp-for="Arbitro.Telefono" class="control-label"></label>
                    <input asp-for="Arbitro.Telefono" class="form-control"/>
                    <span asp-validation-for="Arbitro.Telefono" class="text-danger"></span>
                </div>             
                <div class="form-group">
                    <label asp-for="Arbitro.Correo" class="control-label"></label>
                    <input asp-for="Arbitro.Correo" class="form-control"/>
                    <span asp-validation-for="Arbitro.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Arbitro.Disiplina" class="control-label"></label>
                    <input asp-for="Arbitro.Disiplina" class="form-control"/>
                    <span asp-validation-for="Arbitro.Disiplina" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label asp-for="Arbitro.TorneoId" class="control-label"></label>
                    <input asp-for="Arbitro.TorneoId" class="form-control"/>
                    <span asp-validation-for="Arbitro.TorneoId" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label asp-for="Arbitro.EscuelaArbitroId" class="control-label"></label>
                    <input asp-for="Arbitro.EscuelaArbitroId" class="form-control"/>
                    <span asp-validation-for="Arbitro.EscuelaArbitroId" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <input type="submit" value="Modificar" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="ArbIndex">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}