@page
@model Frontend.Pages.EditEscenarioModel
@{
    ViewData["Title"]="EscenarioEdit";
}

<h1>Editar Escenario</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Escenario.Id" >

                <div class="form-group">
                    <label asp-for="Escenario.Nombre" class="control-label"></label>
                    <input asp-for="Escenario.Nombre" class="form-control"/>
                    <span asp-validation-for="Escenario.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Direccion" class="control-label"></label>
                    <input asp-for="Escenario.Direccion" class="form-control"/>
                    <span asp-validation-for="Escenario.Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Escenario.Telefono" class="control-label"></label>
                    <input asp-for="Escenario.Telefono" class="form-control"/>
                    <span asp-validation-for="Escenario.Telefono" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label asp-for="Escenario.Horario" class="control-label"></label>
                    <input asp-for="Escenario.Horario" class="form-control"/>
                    <span asp-validation-for="Escenario.Horario" class="text-danger"></span>
                </div> 
        
                <div class="form-group">
                    <label asp-for="Escenario.TorneoId" class="control-label"></label>
                    <input asp-for="Escenario.TorneoId" class="form-control"/>
                    <span asp-validation-for="Escenario.TorneoId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Modificar" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="EscenarioIndex">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

