@page
@model Frontend.Pages.EditPatroModel
@{
    ViewData["Title"]="Editar";
}

<h1>Editar Patrocinador</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Patrocinador.Id" >
                <div class="form-group">
                    <label asp-for="Patrocinador.Identificacion" class="control-label"></label>
                    <input asp-for="Patrocinador.Identificacion" class="form-control"/>
                    <span asp-validation-for="Patrocinador.Identificacion" class="text-danger"></span>
                    <label asp-for="Patrocinador.Nombre" class="control-label"></label>
                    <input asp-for="Patrocinador.Nombre" class="form-control"/>
                    <span asp-validation-for="Patrocinador.Nombre" class="text-danger"></span>
                    <label asp-for="Patrocinador.TipoPersona" class="control-label"></label>
                    <input asp-for="Patrocinador.TipoPersona" class="form-control"/>
                    <span asp-validation-for="Patrocinador.TipoPersona" class="text-danger"></span>
                    <label asp-for="Patrocinador.Direccion" class="control-label"></label>
                    <input asp-for="Patrocinador.Direccion" class="form-control"/>
                    <span asp-validation-for="Patrocinador.Direccion" class="text-danger"></span>
                    <label asp-for="Patrocinador.Telefono" class="control-label"></label>
                    <input asp-for="Patrocinador.Telefono" class="form-control"/>
                    <span asp-validation-for="Patrocinador.Telefono" class="text-danger"></span>
                </div>                    
                <div class="form-group">
                    <input type="submit" value="Modificar" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="IndexPatro">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
