@page
@model Frontend.Pages.CreateCanchaModel
@{
    ViewData["Title"]= "CreateCancha";
}

<h1>Crear Cancha</h1>

<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                    <div class="form-group">
                        <label asp-for="Cancha.Nombre" class="control-label"></label>
                        <input asp-for="Cancha.Nombre" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cancha.Diciplina" class="control-label">Disciplina</label>
                        <input asp-for="Cancha.Diciplina" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cancha.Estado" class="control-label"></label>
                        <input asp-for="Cancha.Estado" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cancha.Capacidad" class="control-label"></label>
                        <input asp-for="Cancha.Capacidad" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cancha.Medidas" class="control-label"></label>
                        <input asp-for="Cancha.Medidas" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cancha.EscenarioId" class="control-label">Escenario ID</label>
                        <input asp-for="Cancha.EscenarioId" class="form-control"/>
                    </div>                                        
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary"/>
                    </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="CanchaIndex">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
