@page
@model Frontend.Pages.EditCanchaModel
@{
    ViewData["Title"]="CanchaEdit";
}

<h1>Editar Cancha</h1>
<h3>@ViewData["Mensaje"]</h3>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Cancha.Id" >

                <div class="form-group">
                    <label asp-for="Cancha.Nombre" class="control-label"></label>
                    <input asp-for="Cancha.Nombre" class="form-control"/>
                    <span asp-validation-for="Cancha.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cancha.Diciplina" class="control-label"></label>
                    <input asp-for="Cancha.Diciplina" class="form-control"/>
                    <span asp-validation-for="Cancha.Diciplina" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cancha.Estado" class="control-label"></label>
                    <input asp-for="Cancha.Estado" class="form-control"/>
                    <span asp-validation-for="Cancha.Estado" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label asp-for="Cancha.Capacidad" class="control-label"></label>
                    <input asp-for="Cancha.Capacidad" class="form-control"/>
                    <span asp-validation-for="Cancha.Capacidad" class="text-danger"></span>
                </div> 
        
                <div class="form-group">
                    <label asp-for="Cancha.Medidas" class="control-label"></label>
                    <input asp-for="Cancha.Medidas" class="form-control"/>
                    <span asp-validation-for="Cancha.Medidas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cancha.EscenarioId" class="control-label"></label>
                    <input asp-for="Cancha.EscenarioId" class="form-control"/>
                    <span asp-validation-for="Cancha.EscenarioId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Modificar" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="CanchaIndex">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


