@page
@model Frontend.Pages.EntrenadorCreateModel
@{
    ViewData["Title"]= "EntrenadorCreate";
}


<h1>Crear Entrenador</h1>

<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                    <div class="form-group">
                        <label asp-for="Entrenador.Nombres" class="control-label"></label>
                        <input asp-for="Entrenador.Nombres" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Entrenador.Apellidos" class="control-label"></label>
                        <input asp-for="Entrenador.Apellidos" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Entrenador.Documento" class="control-label"></label>
                        <input asp-for="Entrenador.Documento" class="form-control"/>
                    </div> 
                    <div class="form-group">
                        <label asp-for="Entrenador.Genero" class="control-label"></label>
                        <select asp-for="Entrenador.Genero" class="form-control">
                            <option value="--Seleccione un género--">--Seleccione un género--</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                            <option value="Prefiero no decir">Prefiero no decir</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Entrenador.EquipoId" class="control-label">Equipo</label>
                        <select asp-for="Entrenador.EquipoId" class="form-control">
                            <option value="">--Seleccione un Equipo--</option>
                            @foreach (var equi in Model.Equipos)
                            {
                                <option value="@equi.Id">@equi.Nombre</option>
                            }
                            
                        </select>
                        
                    </div>
            
                    <div class="form-group">
                        <label asp-for="Entrenador.DisciplinaDeportiva" class="control-label">Disciplina Deportiva</label>                
                        <input asp-for="Entrenador.DisciplinaDeportiva" class="form-control"/>
                    </div>

                    

                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary"/>
                    </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="EntrenadorIndex">Atrás</a>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

