<<<<<<< HEAD
﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
  <div class="col-sm">
    <img src="~/img/deporte.jpg" class="img-fluid">
  </div>
=======
﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
  <div class="col-sm">
    <img src="~/img/deporte.jpg" class="img-fluid">
  </div>
>>>>>>> 4b16e537cec700cdc435a1ba8473f60cf4c36360
</div>